- name: Update apt cache (Debian).
  apt: update_cache=yes cache_valid_time=86400

- name: Install packages required to build ruby (Debian).
  apt: "pkg={{ item }} state=installed"
  with_items:
   - make
   - zlib1g-dev
   - libssl-dev
   - libyaml-dev
   - libreadline6-dev
   - zlib1g-dev
   - libncurses5-dev
   - libffi-dev
   - libgdbm3
   - libgdbm-dev

- name: Download ruby.
  get_url: >
   url={{ ruby_download_url }}
   dest={{ workspace }}/ruby-{{ ruby_version }}.tar

- name: Extract ruby.
  command: >
   tar -zxf {{ workspace }}/ruby-{{ ruby_version }}.tar
   chdir={{ workspace }}
   creates={{ workspace }}/ruby-{{ ruby_version }}

- name: Build ruby.
  command: >
   {{ item }}
   chdir={{ workspace }}/ruby-{{ ruby_version }}
   creates=/usr/local/bin/ruby
  with_items:
   - ./configure --enable-shared
   - make
   - sudo make install

- name: Add ruby symlinks.
  file: >
   src=/usr/local/bin/{{ item }}
   dest=/usr/bin/{{ item }}
   state=link
  with_items:
   - erb
   - gem
   - irb
   - rake
   - rdoc
   - ruby

- name: Install Bundler.
  gem: name=bundler state=present user_install=no

- name: Add bundle symlink.
  file: src=/usr/local/bin/bundle dest=/usr/bin/bundle state=link
