<div class="like-dislike">
    <div data-service="<%= service.id %>" class="likes-container">
        <div>
            <i class="fa <% if user_voted_up_service?(service) %>fa-thumbs-up<%else%>fa-thumbs-o-up<%end%> upvote"></i>
            <span class="number-thumbs-up">(<%= service.get_upvotes.size %>)</span>
        </div>
        <div>
            <i class="fa <% if user_voted_down_service?(service) %>fa-thumbs-down<%else%>fa-thumbs-o-down<%end%>  downvote"></i>
            <span class="number-thumbs-down">(<%= service.get_downvotes.size %>)</span>
        </div>
    </div>
</div>
