<div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="reportModalLabel">Denunciar este serviço</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="email" class="control-label">
            Insira sua email:
          </label>
          <input id="email" type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label for="report" class="control-label">
            Insira a descrição de sua denuncia para este serviço:
          </label>
          <textarea id="report" class="form-control" rows="10"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger"data-dismiss="modal">Submeter</button>
      </div>
    </div>
  </div>
</div>
