<div class="modal fade" id="denunciaModal" tabindex="-1" role="dialog" aria-labelledby="denunciaModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="denunciaModalLabel">Denunciar este serviço</h4>
      </div>
      <div class="modal-body">
        <p>
        Insira a descrição de sua denuncia para este serviço:
        </p>
        <textarea style="width: 100%;" rows="10"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger"data-dismiss="modal">Submeter</button>
      </div>
    </div>
  </div>
</div>
