<section class="top">
	<header>
		<ul>
			<li><a href="#">Trans Hoje</a></li>
			<li><a href="#">Desconstruindo Mitos</a></li>
			<li><a href="#">O Projeto</a></li>
			<li><%= link_to 'Cadastro', new_user_registration_path %></li>
		</ul>
	</header>

	<section class="title">
		<h1>Transerviços</h1>
		<p>Você é uma pessoa trans ou travesti que gostaria de oferecer algum serviço desenvolvido por você? Está em busca de serviços e profissionais que não lhe discriminem? Você gostaria de ajudar o público trans ou travesti contratando serviços dessas pessoas? Esse é o seu lugar.</p>
	</section>
</section>

<section class="topics">
	<section class="brazil">
		<h1>Como é ser trans no Brasil hoje?</h1>
		<p>As pessoas trans e travestis encontram-se em sua larga maioria no Brasil fora do trabalho de mercado formal por conta da discriminação, não conseguiram completar seus estudos geralmente, não conseguem assistência médica adequada e não possuem apoio da sociedade e dos poderes constituídos, sendo que o Brasil é o país campeão mundial de assassinato de travestis e transexuais.</p>
		<a href="#">Saiba Mais.</a>
	</section>
	<section class="rights">
		<h1>Direitos que por lei deveríamos ter</h1>
		<p>O Brasil carece da aprovação de uma lei de identidade de gênero, fundamental para que as pessoas trans e travestis possam ser inseridas dentro da sociedade e consideradas cidadãs e cidadãos, aprovação de políticas públicas de geração de emprego e renda, universalização do sistema de saúde que atenda as especificidades da população trans e travesti, leis de proteção contra a transfobia.</p>
		<a href="#">Saiba Mais.</a>
	</section>
	<section class="change">
		<h1>E o que eu posso fazer para mudar isso?</h1>
		<p>Respeitar as pessoas trans e travestis de acordo com o gênero que reivindicam para si, de acordo com o nome social, ou seja, o nome que a pessoa é reconhecida em seu entorno social, evitar propagar piadas e sensos comuns transfóbicos, discriminatórios, que visam exotificar as pessoas trans e travestis e considerá-las inferiores ou naturalmente ridículas, e por fim, caso você precise de algum serviço, que tal contratar uma das talentosas pessoas trans e travestis que anunciam nesse site? E caso você conheça algum serviço que é verdadeiramente respeitoso com as pessoas trans, que tal publicá-lo aqui?</p>
		<a href="#">Saiba Mais.</a>
	</section>
</section>

