<header id="main-header">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
				<h1 class="text-center">
					<%= image_tag 'transervicos-logo.svg' %>
				</h1>
				<div class="lead text-center">
					<p>
						Você gostaria de cadastrar algum serviço que não discrimine as pessoas
						trans e travestis? Você está em busca de serviços oferecidos por essas
						pessoas ou que não as discrimine?
					</p>
					<div class="cadastre-busque">
						<% if !user_signed_in? %>
							<%= link_to 'cadastre-se', new_user_registration_path, { :class=>"btn-contorno", :style=>"margin: 0 10px" } %><br class="visible-xs"/>ou<br class="visible-xs"/>
						<% end %>
						<%= link_to 'busque serviços', services_path, { :class=>"btn-contorno" } %>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<section id="feedback-tw" class="bg-purple">
	<div class="container">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-2 col-sm-offset-1 col-md-8 col-md-offset-2">
				<h2>Olá, TWer!</h2>
				<p>
					Para celebrar a Semana da Visibilidade Trans e Travesti, estamos fazendo o
					pré-lançamento do Transerviços internamente na TW Brasil. O objetivo
					é apresentar nosso 1º MVP e coletar feedbacks e registros de erros antes
					do lançamento oficial.
				</p>
				<p>
					Compartilhe seu feedback mandando um email para
					<a href="mailto:tuxavier@thoughtworks.com?subject=Transerviços - Feedback">tuxavier@thoughtworks.com</a>
					com o assunto "Transerviços - Feedback".
				</p>
				<p>
					Ah, e se quiser fazer parte do nosso querido time de voluntários,
					ficaremos muito felizes com sua ajuda para continuarmos o projeto
					<i class="fa fa-heart text-fuchsia"></i> <span class="sr-only">(coração agradecido)</span>
				</p>
			</div>
		</div>
	</div>
</section>

<section id="trans-hoje">
	<a name="trans-hoje"></a>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h2 class="text-center brazil">Como é ser trans ou travesti no Brasil hoje?</h2>
				<p>
					O Brasil é o país campeão mundial de assassinatos de travestis e transexuais.
					A discriminação faz com que a grande maioria dessas pessoas não consiga
					completar seus estudos e esteja fora do mercado de trabalho formal.
				</p>
				<!--<a href="javascript:;">Saiba mais</a>-->
			</div>
			<div class="col-md-4">
				<h2 class="text-center rights">Direitos que, por lei, deveríamos ter</h2>
				<p>
					Aprovação de uma lei de identidade de gênero para que as pessoas trans
					e travestis possam modificar seus documentos sem grandes burocracias,
					direito ao emprego, acesso ao sistema de saúde, leis de proteção contra
					a transfobia, dentre outros.
				</p>
				<!--<a href="javascript:;">Saiba mais</a>-->
			</div>
			<div class="col-md-4">
				<h2 class="text-center change">O que eu posso fazer para mudar isso?</h2>
				<p>
					Que tal contratar uma das talentosas pessoas trans e travestis que anunciam
					nesse site? E caso você conheça algum serviço que é verdadeiramente
					respeitoso com as pessoas trans e travestis, que tal publicá-lo aqui?
				</p>
				<!--<a href="javascript:;">Saiba mais</a>-->
			</div>
		</div>
	</div>
</section>

<section id="desconstruindo-mitos">
	<a name="desconstruindo-mitos"></a>
	<div class="container">
		<h1 class="text-center">
			Descontruindo mitos<br class="visible-sm visible-md"/>
			sobre pessoas trans
		</h1>
		<div class="row">
			<div class="col-sm-6 col-lg-5 col-lg-offset-1">
				<%= image_tag 'trans-people.svg', { :class=>"img-responsive", :alt=>"Ilustração de pessoas trans" } %>
			</div>
			<div class="col-sm-6 col-lg-5">
				<!--
				<div class="mitos-controle pull-right text-right">
					<i class="fa fa-lg fa-circle active" data-m="1"></i><br/>
					<i class="fa fa-lg fa-circle" data-m="2"></i><br/>
					<i class="fa fa-lg fa-circle" data-m="3"></i>
				</div>
				-->
				<div id="mitos-container">
					<div class="mito" data-m="1">
						<h2>
							Tratar as pessoas trans e travestis pelo nome social é crime de
							falsidade ideologica
						</h2>
						<p>
							O nome social é aquele pelo qual a pessoa é reconhecida pelo seu
							entorno social, que pode diferir do nome do registro civil.
						</p>
						<p>
							Diversos municípios, estados e órgãos da administração federal como
							o Ministério da Saúde, da Educação e do Planejamento e Gestão
							reconhecem a importância e legalidade do nome social, sendo assim,
							tratar uma pessoa travesti ou transexual pelo nome social não só é
							uma forma de demonstrar respeito por essas pessoas, como não há
							nenhuma tipificação penal contra essa prática, pelo contrário, a
							dignidade da pessoa humana é um dos princípios basilares e cláusula
							pétrea da Constituição Federal.
						</p>
						<p>
							Tratar uma pessoa trans ou travesti pelo seu nome social é tratar
							essa pessoa de forma digna, outrossim, é sempre preferível perguntar
							para a pessoa trans ou travesti por qual nome ela prefere ser
							tratada para não incorrermos no erro de usar o nome do registro
							civil que pode desrespeitar a identidade de gênero dessa pessoa.
						</p>
					</div>
					<div class="mito" data-m="2" style="display:none">
						<h2>
							Mito 2
						</h2>
						<p>
							Texto do mito 2
						</p>
					</div>
					<div class="mito" data-m="3" style="display:none">
						<h2>
							Mito 3
						</h2>
						<p>
							Texto do mito 3
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript">

$(document).ready(function(){
  $('.mitos-controle').children('i').on('click',function(){
    var m = $(this).data('m');
    $('#mitos-container').children('.mito').hide().filter('[data-m="'+m+'"]').show();
    $(this).parent().children('i').removeClass('active');
    $(this).addClass('active');
  });
});
</script>
