<header id="main-header">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
				<h1 class="text-center">
					<%= image_tag 'transervicos-logo.svg' %>
				</h1>
				<div class="lead text-center">
					<p>
						Você gostaria de oferecer algum serviço que não discrimina o público
						trans ou está em busca de serviços ou profissionais que não te discriminem?
					</p>
					<div class="cadastre-busque">
						<% if !user_signed_in? %>
							<%= link_to 'cadastre-se', new_user_registration_path, { :class=>"btn-contorno", :style=>"margin: 0 10px" } %><br class="visible-xs"/>ou<br class="visible-xs"/>
						<% end %>
						<%= link_to 'busque serviços', services_path, { :class=>"btn-contorno" } %>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<section id="trans-hoje">
	<a name="trans-hoje"></a>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h2 class="text-center brazil">Como é ser trans no Brasil hoje?</h2>
				<p>
					O Brasil é o país campeão mundial de assassinato de travestis e
					transexuais. A discriminação faz com que a grande maioria dessas
					pessoas não consiga completar seus estudos e esteja fora do
					mercado de trabalho formal.
				</p>
				<a href="javascript:;">Saiba mais</a>
			</div>
			<div class="col-md-4">
				<h2 class="text-center rights">Direitos que, por lei, deveríamos ter</h2>
				<p>
					Aprovação de uma lei de identidade de gênero para que as
					pessoas trans sejam consideradas cidadãs e cidadãos, aprovação
					de políticas públicas de geração de emprego e renda, universalização
					do sistema de saúde, leis de proteção contra a transfobia.
				</p>
				<a href="javascript:;">Saiba mais</a>
			</div>
			<div class="col-md-4">
				<h2 class="text-center change">O que eu posso fazer para mudar isso?</h2>
				<p>
					Respeitar as pessoas trans e travestis de acordo com o gênero que
					reivindicam para si, respeitando seu nome social e não propagando
					piadas e sensos comuns transfóbicos ou discriminatórios.
				</p>
				<p>
					Por fim, que tal contratar uma das talentosas pessoas trans
					e travestis que anunciam nesse site? E caso você conheça algum
					serviço que é verdadeiramente respeitoso com as pessoas trans,
					que tal publicá-lo aqui?
				</p>
				<a href="javascript:;">Saiba mais</a>
			</div>
		</div>
	</div>
</section>

<section id="desconstruindo-mitos">
	<a name="desconstruindo-mitos"></a>
	<div class="container">
		<h1 class="text-center">
			Descontruindo mitos sobre pessoas trans
		</h1>
		<div class="row">
			<div class="col-sm-6 col-lg-5 col-lg-offset-1">
				<%= image_tag 'trans-people.svg', { :class=>"img-responsive", :alt=>"Ilustração de pessoas trans" } %>
			</div>
			<div class="col-sm-6 col-lg-5">
				<div class="mitos-controle pull-right text-right">
					<i class="fa fa-lg fa-circle active" data-m="1"></i><br/>
					<i class="fa fa-lg fa-circle" data-m="2"></i><br/>
					<i class="fa fa-lg fa-circle" data-m="3"></i>
				</div>
				<div id="mitos-container">
					<div class="mito" data-m="1">
						<h2>
							Por qual nome e gênero devo me comunicar com uma pessoa trans?
						</h2>
						<p>
							dasdas
						</p>
					</div>
					<div class="mito" data-m="2" style="display:none">
						<h2>
							Mito 2
						</h2>
						<p>
							Texto do mito 2
						</p>
					</div>
					<div class="mito" data-m="3" style="display:none">
						<h2>
							Mito 3
						</h2>
						<p>
							Texto do mito 3
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript">

$(document).ready(function(){
  $('.mitos-controle').children('i').on('click',function(){
    var m = $(this).data('m');
    $('#mitos-container').children('.mito').hide().filter('[data-m="'+m+'"]').show();
    $(this).parent().children('i').removeClass('active');
    $(this).addClass('active');
  });
});
</script>
