/*Fonts*/
$font1: 'Passion One';
$font2: 'Bitter';
$font3: 'Nunito';

/*Colors*/
$fuchsia: #cc2c71;
$purple: #3a3f63;
$light-blue: #D2EBF8;
$dark-blue: #6798C9;

/*Color classes*/
.bg-fuchsia,
.bg-purple,
.bg-light-blue {
    color: rgba(255,255,255,0.9);
}

.bg-fuchsia {background-color: $fuchsia;}
.bg-purple {background-color: $purple}
.bg-light-blue {background-color: $light-blue}

.text-fuchsia {color: $fuchsia;}
.text-purple {color: $purple;}
.text-light-blue {color: $light-blue;}
