/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 */

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	margin: 0 0;
	background-image: image-url("header.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
  font-family: Nunito;
  font-weight: 300;
  font-size: 16px;
  color: #6c7279;
  line-height: 120%;
}

h1 {
	font-family: Passion One;
	font-weight: 700;
	color: #2d3033;
	text-transform: uppercase;
	padding: 0 60px;
}

a:hover{
	text-decoration: none;
}
