/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .

 *Bootstrap
 *= require bootstrap.min
 */

 @import "core";

body {
	margin: 0 0;
	background-image: image-url("header.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	font-family: $font3 !important;
	font-weight: 300;
	font-size: 16px;
	color: #6c7279;
	line-height: 120%;
}

a {
	color: $fuchsia !important;
	&:hover {
		text-decoration: none;
	}
}

nav#main-navbar {
	background: transparent;
	border-bottom-color: rgba(255,255,255,0.2);
	ul {
		li {
			padding: 15px;
			a {
				color: white !important;
				font-family: $font1;
				font-size: 1.5em;
				text-transform: uppercase;
			}
		}
	}
}
