// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top {

	header {
		padding: 40px;

		ul {
			list-style: none;
			display: flex;
			justify-content: flex-end;

			li {
				padding-right: 35px;

				a {
					text-transform: uppercase;
					font-family: Passion One;
					font-size: 24px;
					font-weight: 400;
					text-decoration: none;
					color: white;
				}
			}
		}
	}

	.title {
		padding: 0 0 60px 0;
		color: white;
		text-align: center;

		h1 {
			font-size: 100px;
			color: #FFF;
			margin-bottom: 80px;
		}

		p {
			font-family: Bitter;
			font-weight: 400;
			font-style: italic;
			font-size: 30px;
			line-height: 120%;
			margin: auto;
			margin-top: 35px;
			width: 800px;
		}
	}
}

.topics {
	display: flex;
	align-content: space-between;
	background: #FFF;

	section {
		flex: 1;
		padding: 20px;
		text-align: center;

		h1:before {
			display: block;
			margin: 15px auto;
			content: "";
			width: 60px;
			height: 60px;
			background-size: 100%;
		}

		&.brazil h1:before {
			background: image-url("brazil_flag.svg") no-repeat 0 0;
		}

		&.rights h1:before {
			background: image-url("scale.svg") no-repeat 0 0;
		}

		&.change h1:before {
			background: image-url("people_in_love.svg") no-repeat 0 0;
		}
	}
}

.bottom {

	.bottom-site-nav {
		background: #3a3f63;

		.container {
		   height: auto;
		   overflow: hidden;
		}

		.bottom-title {
			float: left;
			width: 30%;
			padding: 30px 10px 0 0;
			text-align: center;
			font-family: Passion One;
			font-size: 40px;
			color: #ffffff;
		}

		.bottom-sitemap {
			float: right;
			width: 40%;
			padding: 0 10px 0 0;
			text-align: left;
			font-family: Passion One;
			font-size: 20px;
			color: #ffffff;

			.site-map-title {
				font-size: 30px;
				padding: 0 10px 0 0;
				color: #ca3071;
			}

			ul {
				list-style: none;
				display: block;
				padding: 0 0 0 0;

				li {

					a {
						text-transform: uppercase;
						font-family: Passion One;
						font-size: 20px;
						text-decoration: none;
						color: #ffffff;
					}
				}
			}

		}

	}

	.footer {
		background: #ca3071;
		padding: 10px 10px;
		text-align: center;
		font-family: Open Sans;
		font-size: 14px;
		color: #ffffff;
	}

}
