<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <h1>Inside a report pra o servico</h1>
        <%= form_for :report do|f| %>
          email <%= f.text_field :email%>
        detail <%= f.text_field :detail%>
        <% end %>
      </div>
    </div>
  </div>
</section>
